body {
	padding: 50px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.launcher {
	cursor: pointer;
	background: #333;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	padding: 4px 10px;
	margin: 20px 0;
}
	.launcher:hover {
		background: #666;
	}

article {
	width: 40%;
	margin-bottom: 2em;
}

article h1 {
	font-size: 1.6em;
}
article small.author {
	color: #090;
	display: block;
	margin: 8px 0;
}

h1.intro {
	font-size: 1.6em;
}

div.intro p {
	margin-bottom: 10px;
}

div.intro .firstLine {
	font-weight: bold;
}